
# ===== Build folders =====
build/
build_tmp_script/
dist/

# ===== Compiled files =====
*.class

# ===== NetBeans =====
nbproject/private/
nbproject/build-impl.xml
nbproject/genfiles.properties

# ===== Logs =====
*.log

# ===== OS files =====
.DS_Store
Thumbs.db
# Chặn các thư viện tải về (nếu dùng Maven/Gradle thì nên chặn thư mục lib local)
lib/
nblib/

# Chặn các file tạm của server (Tomcat/Glassfish)
nbproject/ant-deploy.xml
